.header {
  padding: 30px 0;
  margin-bottom: 40px;
}

#logo {
  width: 200px;
}

@media screen and (max-width: 39.9375em){
  #logo, .cta-btn {
    margin: 0 auto;
    display: block;
  }

  .cta-btn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .header {
    margin-bottom: 0;
  }
}




