p {
  font-size: 1.5em;
}

a#back {
  background: url('/assets/images/back.svg') no-repeat;
  width: 69px;
  display: block;
  color: #2A3136;
  font-weight: bold;
  text-transform: uppercase;
  text-indent: 16px;
  padding-top: 1px;
  margin-bottom: 5px;
}

@media screen and (max-width: 39.9375em){
  p {
    font-size: 1em;
  }

  #external-btn {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 20px auto;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  p {
    font-size: 1.1em;
  }

  #external-btn {
    width: 80px;
    height: 80px;
  }
}

